<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="/">
    <img src="https://camo.githubusercontent.com/bec2c92468d081617cb3145a8f3d8103e268bca400f6169c3a68dc66e05c971e/68747470733a2f2f76352e676574626f6f7473747261702e636f6d2f646f63732f352e302f6173736574732f6272616e642f626f6f7473747261702d6c6f676f2d736861646f772e706e67" alt="Bootstrap logo" width="auto" height="30" data-canonical-src="https://v5.getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo-shadow.png" style="max-width:100%;">
  </a>
  <%= link_to "See all the restaurants", restaurants_path, class: "nav-link text-light"%>
  <%= link_to 'Add a new restaurant', new_restaurant_path, class: "nav-link text-light"%>
</nav>
<div class="container mt-4">
  <h2><%= @restaurant.name %></h2>
  <h3><%= @restaurant.category.capitalize  %></h3>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %></li>
    <% end %>
  </ul>
  <%= link_to 'Back', restaurants_path, class: "btn btn-outline-dark my-4 mr-2" %>
  <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-outline-dark my-2"%>
</div>